.s360-modal-options-field {
  &.form-wrapper {
    background-color: #f5f5f5;
    margin: 0;
    padding: 55px 20px 20px 20px;
  }

  &.field-storage-config-edit-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    fieldset {
      flex: 1 0 100%;
    }
  }

  .fieldset-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
  }

  &__style {
    &.form-select {
      min-width: 100%;
    }
  }

  &__display-group,
  &__trigger-group {
    padding: 0;
  }
}
