.s360-modal-options-field {
  @at-root {
    .ui-dialog fieldset:not(.fieldgroup)#{&} {
      background-color: #f5f5f5;
      margin: 0;
      padding: 55px 20px 20px 20px;
    }
  }

  .fieldset-wrapper {
    display: flex;
    gap: 20px;
  }
}
