{{ attach_library('s360_modal/s360_modal') }}

<section{{ attributes }}>
  <button{{ modal_close_button.attributes }}></button>

  {{ content.field_modal_header }}

  <div{{ modal_content.attributes }}>
    {{- content.field_modal_erp_layouts -}}
  </div>

  <footer{{ modal_footer.attributes }}>
    {% if modal_banish %}
      {{ modal_banish }}
    {% endif %}
  </footer>
</section>
