{#
/**
 * @file
 * Default theme implementation to display the modal trigger field.
 *
 * Available variables:
 *
 * @see template_preprocess_modal_trigger_field()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <button{{ trigger.attributes }}>{{ trigger.label }}</button>
</div>
